@model IEnumerable<Presentation.ViewModels.RealESVM.FavVM>
@{
    Layout = "_Dashboard";
}


<!-- dashboard container -->
<div class="dashboard__container dashboard__reviews--container">
    <div class="reviews__heading mb-30">
        <h2 class="reviews__heading--title">My Properties</h2>
        <p class="reviews__heading--desc">We are glad to see you again!</p>
    </div>
    <div class="properties__wrapper">
        <div class="properties__table table-responsive">
            <table class="properties__table--wrapper">
                <thead>
                    <tr>
                        <th>Listing Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="~/Images/RealESImages/@item.ImageName" alt="img" width="64px" height="64px">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">@item.Title</h3>
                                        <p class="reviews__author--subtitle">@item.Country, @item.City, @item.Hood</p>
                                        <span class="properties__author--price">$@item.Price</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">


                                    <a asp-action="RemoveitFavoriteDashboard" asp-controller="RealES" asp-route-id="@item.RealId">Remove</a> |
                                    <a asp-action="Create" asp-controller="RealES" asp-route-id="@item.RealId">Edit</a>

                                </div>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
        @*
        Pagination
        *@
        <div class="pagination__area">
            <nav class="pagination justify-content-center">
                <ul class="pagination__menu d-flex align-items-center justify-content-center">
                    <li class="pagination__menu--items pagination__arrow d-flex">
                        <a href="#" class="pagination__arrow-icon link">
                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.583 20.5832L0.999675 10.9998L10.583 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="visually-hidden">page left arrow</span>
                        </a>
                        <span class="pagination__arrow-icon">
                            <svg width="3" height="22" viewBox="0 0 3 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.50098 1L1.50098 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            </svg>
                        </span>
                        <a href="#" class="pagination__arrow-icon link">
                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.001 20.5832L1.41764 10.9998L11.001 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="visually-hidden">page left arrow</span>
                        </a>
                    </li>

                    <li class="pagination__menu--items"><a href="#" class="pagination__menu--link active color-accent-1">1</a></li>

                    @for (int i = 2; i < Math.Ceiling(Model.Count() / 5.0); i++)
                    {
                        <li class="pagination__menu--items"><a href="#" class="pagination__menu--link ">@i</a></li>

                    }

                    <li class="pagination__menu--items pagination__arrow d-flex">
                        <a href="#" class="pagination__arrow-icon link">
                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.00098 20.5832L10.5843 10.9998L1.00098 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="visually-hidden">page right arrow</span>
                        </a>
                        <span class="pagination__arrow-icon">
                            <svg width="3" height="22" viewBox="0 0 3 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.50098 1L1.50098 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            </svg>
                        </span>
                        <a href="#" class="pagination__arrow-icon link">
                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.41895 20.5832L11.0023 10.9998L1.41895 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="visually-hidden">page right arrow</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="~/DbAssets/js/script.js"></script>
